body
{
	background: #D4D7DF;
	font-family: arial;
	font-size: 16px;
}
header
{
	overflow: hidden;
	position: relative;
}

header h1
{
	font-family: Algerian;
	font-size: 3em;
	font-weight: normal;
	margin: 0.5em 0 0.4em 2.5em;
	padding-right: 2em;
}
header #logo img
{
	
	position: absolute;
	left: 0.1em;
	top: 0;
	width: 125px;
}
nav
{
	background: #123;
	margin: 0;
	padding: 0.3em 0;
	text-align: center;
}
nav ul
{ 
	list-style: none;
	margin:0;
	padding:0;
}
nav ul li
{
	display: inline-block;
}
nav ul li a
{
	background: #ddd;
	border-radius: 0.4em;
	color:black;
	display: inline-block;
	margin:  0.1em 0.1em;
	padding: 0.3em 0.3em;
	font-size: 1.4em;
	text-decoration: none;
}
nav ul li a:hover
{
	background: #000;
	color: #eee; 
	transform: scale(1.1);
}
/*Aca inicia el area de circulos*/
.secciones
{
	border: 3px solid green;
	background: #111;
	padding: 0.6em 0;
	margin-bottom: 0.3em;
	text-align: center;
}
.secciones div
{
	background: #bbb;
	border: 0.5px solid black;
	border-radius: 50%;
	display: inline-block;
	height: 210px;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 210px;
}
.secciones a div:hover
{
	box-shadow: #eee 0.1px 0.1px 10px;
	transform: scale(1.1);
}

.secciones a div
{
	color: black;
		
}
.secciones a div p 
{
	font-size: 2em;
	margin-top: 2.6em;
}

#Decoracion
{
	background: #03C9F6;
	border: 3px solid black;	
}
#Cathering
{
	background: #127705;
	border: 3px solid black;
}
#Sonido
{
	background: #F7FF00;
	border: 3px solid black;
}
#Licores
{
	background: #F2051C;
	border: 3px solid black;
}
#Salones
{
	background: #DF05F2;
	border: 3px solid black;
}
#Eventos
{
	background: #FAFAFA;
	border: 3px solid black;
}

/*Aca termina el area de circulos los circulos*/

/*Inicia la seccion de noticias*/
.noticias
{
	background: #D4D7DF;
}
.noticias article
{
	background: white;
	border-top: 2px solid #174AEF;
	border-bottom: 3px solid #174AEF;
	border-radius: 30px;
	margin-bottom: 0.5em;
	margin-left: 0.2em;
	margin-right: 30%;
	min-height: 128px;
	overflow: hidden;
	position: relative;
}
.noticias .item .imagen_item 
{
	float:left;
	margin-right: 1em;
}
.noticias .item .imagen_item img
{
	width: 300px;
}
.noticias .item .titulo_item
{
	font-size: 1.4em;
	font-style: italic;
	margin-bottom: 0;
	padding: 0 1em 0 0;
	text-align: left;
}
.noticias .item .titulo_item a
{
	color: black;
	font-style: bold;
	text-decoration: none;
}
.noticias .item .descripcion_articulo
{
	text-align: left;
	margin-right: 0.5em;
}
.noticias .item .descripcion_articulo p
{
	font-family: Verdana;
}
/*Pie de pagina*/
footer
{
	background: #174AEF;
	padding: 2em;
}