body
{
	background: #FAFAFA;
	color: #eee;
	font-family: arial;
	font-size: 16px;
	margin: 0;
	padding: 0;
	text-align: center;
}
header
{
	background-color: #fff;
	background-image: url(img/Logo.png);
	background-repeat: no-repeat;
	background-position: 95%;
	background-size: 200px 100px;
	font-family: algerian;
	margin: 0;
	padding: 0.5em 0;
	width: 100%;
	
}
h1
{
	color:black;
	font-family: algerian;
	font-size: 4em;
	margin: 0;
	text-align: left;
	text-shadow:#ccc 5px 5px 11px;
}
nav
{
	background: #123;
	margin: 0;
	padding: 0.3em 0;
}
nav ul
{ 
	list-style: none;
	margin:0;
	padding:0;
}
nav ul li
{
	display: inline-block;
}
nav ul li a
{
	background: #ddd;
	border-radius: 0.4em;
	color:black;
	display: inline-block;
	margin:  0.1em 0.1em;
	padding: 0.3em 0.3em;
	font-size: 1.4em;
	text-decoration: none;
}
nav ul li a:hover
{
	background: #000;
	color: #eee; 
	transform: scale(1.1);
}
.secciones
{
	background: #111;
	margin: 0;
	padding: 0.5em 0;
}
.circulos
{
	background: #bbb;
	border: 2px solid black;
	border-radius: 100%;
	display: inline-block;
	height: 210px;
	margin: 0.1em 0;
	width: 210px;
}.circulos:hover
{
transform: scale(1.1);
}
.circulos p
{
	color: black;
	font-size: 2em;
	margin-top: 2.8em;
	position: relative;
	text-align: center;
}
#Decoracion
{
	background: #03C9F6;
	border: 3px solid black;	
}
#Cathering
{
	background: #127705;
	border: 3px solid black;
}
#Sonido
{
	background: #F7FF00;
	border: 3px solid black;
}
#Licores
{
	background: #F2051C;
	border: 3px solid black;
}
#Salones
{
	background: #DF05F2;
	border: 3px solid black;
}
#Eventos
{
	background: #FAFAFA;
	border: 3px solid black;
}
.noticias
{
	background: #E1DEE1;
	border-radius: 5px;
	border: 2px solid black;
	color: black;
	margin-left: 10%;
	margin-right: 10%;

}
